{
  # Where Caddy should send ACME e-mails
  email {$CADDY_ACME_EMAIL}
}

# This is needed for a while, I am removing the blog I've had for a while and
# redirecting everything to Transfer.zip. Will remove later.
blog.transfer.zip {
  redir https://{$CADDY_DOMAIN}{uri}
}

www.{$CADDY_DOMAIN} {
  redir https://{$CADDY_DOMAIN}{uri}
}

{$CADDY_DOMAIN} {
  # Forward websocket to signaling server
  reverse_proxy /ws signaling-server:9002

  # Forward the rest to next
  reverse_proxy next:9001
}

# Optional: Download domain - only include this in your actual .env if NEXT_PUBLIC_DL_DOMAIN is set
# Remove the leading # below and ensure NEXT_PUBLIC_DL_DOMAIN is set in your environment
# This enables you to have short download links (trnsf.to/[code])
# {$NEXT_PUBLIC_DL_DOMAIN} {
#   reverse_proxy next:9001
# }